<div id="moviesView" 
     data-role="view" data-style="inset" 
     data-title="Trende" data-init="listViewCardsInit" 
     data-model="cardsViewModel">
    <ul id="listview-moviesView" 
        data-role="listview">
    </ul>
</div>

<script>
API.GoogleTrends.getTrendingWord(function(word) {
	// call joey's api
	// API.GoogleNews.getProductList(word, function(products) {
	// 	console.log(products);
	// 	addProductToCategory('listview-newsView', products);
	// });

	// call jake's api
	// API.AmazonProducts.getProductList(word, function(products) {
	// 	console.log(products);
	// });

	// call johnny's api
	API.MovieList.getProductList(word, function(products) {
		console.log(products);
		addProductToCategory('listview-moviesView', products, ['Title', 'Actors']);
	});

	// call johnny's music api
	// API.MusicList.getProductList(word, function(products) {
	// 	console.log(products);
	// 	addProductToCategory('listview-musicView', products);
	// });
});
</script>