<div id="moviesView" 
     data-role="view" data-style="inset" 
     data-title="Trende" data-init="listViewCardsInit" 
     data-model="cardsViewModel">
    <ul id="listview-moviesView" 
        data-role="listview">
    </ul>
</div>

<script>
API.GoogleTrends.getTrendingWord(function(word) {

	// call johnny's api
	API.MovieList.getProductList(word, function(products) {
		console.log(products);
		addProductToCategory('listview-moviesView', products, ['title', 'synopsis','year', 'links.alternate']);
	});
    
});
</script>