<div id="musicView" 
     data-role="view" data-style="inset" 
     data-title="Trende" data-init="listViewCardsInit" 
     data-model="cardsViewModel">
    <ul id="listview-musicView" 
        data-role="listview">
    </ul>
</div>
<script>
API.GoogleTrends.getTrendingWord(function(word) {

	//call johnny's music api
	API.MusicList.getProductList(word, function(products) {
		addProductToCategory('listview-musicView', products, ['artistName','collectionName', 'trackName', 'trackViewUrl']);
	});
});
</script>