<div id="musicView" 
     data-role="view" data-style="inset" 
     data-title="Trende" data-init="listViewCardsInit" 
     data-model="cardsViewModel">
    <ul id="listview-musicView" 
        data-role="listview">
    </ul>
</div>
<script>
setTimeout(function() {
    var ww = document.getElementById('word');
    if(ww) {
        ww.innerHTML = App.wordOfTheDay;
    }
// API.GoogleTrends.getTrendingWord(function(word) {

// 	//call johnny's music api
	API.MusicList.getProductList(App.wordOfTheDay, function(products) {
		addProductToCategory('listview-musicView', products, ['artistName','collectionName', 'trackName', 'trackViewUrl']);
	});
}, 500);
// });
</script>