<div id="newsView" 
     data-role="view" data-style="inset" 
     data-title="Trende" data-init="listViewCardsInit" 
     data-model="cardsViewModel">
    <ul id="listview-newsView" 
        data-role="listview">
    </ul>
</div>
<script>
setTimeout(function() {
    var ww = document.getElementById('word');
    if(ww) {
        ww.innerHTML = App.wordOfTheDay;
    }
// API.GoogleTrends.getTrendingWord(function(word) {
	// call joey's api
	API.GoogleNews.getProductList(App.wordOfTheDay, function(products) {
		addProductToCategory('listview-newsView', products, ['link.innerText', 'description', 'link.href']);
	});
}, 500);
// });
</script>