<div id="newsView" 
     data-role="view" data-style="inset" 
     data-title="Trende" data-init="listViewCardsInit" 
     data-model="cardsViewModel">
    <ul id="listview-newsView" 
        data-role="listview">
    </ul>
</div>
<script>
API.GoogleTrends.getTrendingWord(function(word) {
	console.log(word);
	// call joey's api
	API.GoogleNews.getProductList(word, function(products) {
		console.log(products);
		addProductToCategory('listview-newsView', products, ['link.innerText', 'description', 'link.href']);
	});

	// call jake's api
	// API.AmazonProducts.getProductList(word, function(products) {
	// 	console.log(products);
	// });

	// call johnny's api
	// API.MovieList.getProductList(word, function(products) {
	// 	console.log(products);
	// 	addProductToCategory('listview-moviesView', products, ['title', 'synopsis','year', 'links.alternate']);
	// });

	// call johnny's music api
	// API.MusicList.getProductList(word, function(products) {
	// 	console.log(products);
	// 	addProductToCategory('listview-musicView', products);
	// });
});
</script>